

.collapse {
    margin: 10px;
    border-collapse: collapse;
    color: black;
}


.collapse th, .collapse td {
    border: 2px solid grey;
    padding: 5px;
    text-align: center;
}

.collapse th {
    background-color: red;
    color: white;
}

.collapse tr#mclaren{
    background-color: rgb(227, 127,30);
}
.collapse tr#redbull{
    background-color: rgb(78, 113, 194);
}
.collapse tr#mercedes{
    background-color: rgb(141, 243, 210);
}